* {
    margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
    font-weight: 300;
      font-size: 12px;
      line-height: 30px;
      color: #272727;
      background: rgb(14, 190, 243);
}

input, textarea, button {
    margin: 4px 0;
    padding: 8px;
}

.bagts {

      margin: 0 auto;
      text-align: center;
}

.Send:hover{
    background: rgb(158, 153, 153);
    color: aliceblue;

}
.Send{
    border-radius: 10%;
    
}
.garchig {
    font-size: 40px;
}
