@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


:root{
    --color-white: #f3f3f3;
    --color-redblack: repeating-linear-gradient(-45deg, #172329, hsl(0, 100%, 20%), #172329, #172329);
    --color-formback: rgba(230, 230, 230, 0.125);
    --color-green: #80d22d;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body {
    font-family: 'poppins', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    }

.videobck {
  margin: 0;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.tarip {
    text-align: left;
}

.setgelhm {
      width: 240px;
      height: 80px;
}

.input-field {
      border: 2px solid gray;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    /* Хоосон үед улаан хүрээ болно */
    .input-field.error {
      border: 2px solid red;
    }

input, textarea, button {
    margin: 4px 0;
    padding: 8px;
}

.container{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    text-align: center;
    background: var(--color-formback);
  }
  
  @media(min-width: 576px){
    .container{
      max-width: 540px;
    }
  }
  
  @media(min-width: 368px){
    .container{
      max-width: 320px;
    }
  }
  

.Send:hover{
    background: rgb(158, 153, 153);
    color: aliceblue;

}
.Send{
    border-radius: 10%;
    
}
.garchig {
    font-size: 30px;
    text-align: center;
}

.button {
    position: relative;
    padding: 8px 16px;
    background: var(--color-redblack);
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .button:active {
    background: var(--color-redblack);
  }
  
  .button__text {
    font: bold 20px "Quicksand", san-serif;
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
    
.menu {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  width: 280px;
  height: 100%;
  transform: translate3d(-280px, 0, 0);
  transition: transform 0.35s;
}
      
  label.menu-toggle  {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;    
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50% / 25px 25px no-repeat;
  }

         
.menu-checkbox {
  display: none;
}
 
.menu .menu label.menu-toggle {
  background: none;
}
    
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}
    
    
html, body {
  height: 100%;
  text-align: center;
}


    h1 {
      color: #fff;
      border: 3px solid #fff;
      text-align: center;
      background: rgba(0,0,0,0.1);
      font-size: 22px;
      font-weight: normal;
      padding: 20px;
      margin: 10px;
      display: inline-block;      
      strong{
        display: block;
        font-size: 26px;
      }
    }

  
